<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class='me-2' src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="45" height="38" class="d-inline-block align-top">
    <%= link_to 'Nome_Site', root_path, class:"navbar-brand" %>
    <%# <a class="navbar-brand" href="#">Rails Orulo App</a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex flex-row ms-4">
            <div class="d-flex align-items-center"><i class="fas fa-info-circle text-secondary"></i></div>
            <%= link_to 'Sobre', home_about_path, class:"nav-link" %>
            <%# <a class="nav-link" href="home/about">About</a> %>
        </li>

        <% if user_signed_in? %>

        <li class="nav-item d-flex flex-row mx-4">
            <div class="d-flex align-items-center"><i class="fas fa-heart text-danger"></i></div>
            <%= link_to 'Lista de Desejos', favs_path, class:"nav-link" %>
            <div class="d-flex align-items-center"><span class="badge bg-secondary">?</span></div>
            <%# <a class="nav-link" href="home/about">About</a> %>
        </li>


        <li class="nav-item d-flex flex-row ms-2">
            <div class="d-flex align-items-center"><i class="fas fa-sign-out-alt text-secondary"></i></div>
            <%= link_to 'Logout', destroy_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item d-flex flex-row ms-2">
            <div class="d-flex align-items-center"><i class="fas fa-user-edit text-secondary"></i></div>
            <%= link_to 'Editar Cadastro', edit_user_registration_path, class:"nav-link" %>
        </li>

        <% else %>

        <li class="nav-item d-flex flex-row ms-2">
            <div class="d-flex align-items-center"><i class="fas fa-user-plus text-secondary"></i></div>
            <%= link_to 'Fazer Cadastro', new_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item d-flex flex-row ms-2">
            <div class="d-flex align-items-center"><i class="fas fa-sign-in-alt text-secondary"></i></div>
            <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
        </li>

        <% end %>




        <%# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>