<div class="d-flex justify-content-center">
  <div class="card my-4 w-50" style="min-width: 300px;">
    <div class="card-header text-white bg-dark">Log in</div>
    <div class="card-body text-dark bg-light">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Entrar", class: "btn btn-primary mt-3" %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div>
  <%= render "devise/shared/links" %>
</div>

