<%= form_with(model: fav) do |form| %>
  <% if fav.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fav.errors.count, "error") %> prohibited this fav from being saved:</h2>

      <ul>
        <% fav.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orulo_id %>
    <%= form.number_field :orulo_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :min_price %>
    <%= form.text_field :min_price %>
  </div>

  <div class="field">
    <%= form.label :min_area %>
    <%= form.text_field :min_area %>
  </div>

  <div class="field">
    <%= form.label :max_area %>
    <%= form.text_field :max_area %>
  </div>

  <div class="field">
    <%= form.label :min_bedrooms %>
    <%= form.number_field :min_bedrooms %>
  </div>

  <div class="field">
    <%= form.label :max_bedrooms %>
    <%= form.number_field :max_bedrooms %>
  </div>

  <div class="field">
    <%= form.label :min_suites %>
    <%= form.number_field :min_suites %>
  </div>

  <div class="field">
    <%= form.label :max_suites %>
    <%= form.number_field :max_suites %>
  </div>

  <div class="field">
    <%= form.label :min_parking %>
    <%= form.number_field :min_parking %>
  </div>

  <div class="field">
    <%= form.label :max_parking %>
    <%= form.number_field :max_parking %>
  </div>

  <div class="field">
    <%= form.label :min_bathrooms %>
    <%= form.number_field :min_bathrooms %>
  </div>

  <div class="field">
    <%= form.label :max_bathrooms %>
    <%= form.number_field :max_bathrooms %>
  </div>


  <div class="field">
    <%= form.label :fav_user %>
    <%= form.text_field :fav_user %>
  </div>

  <div class="field">
    <%= form.label :fav_update_at %>
    <%= form.text_field :fav_update_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
