<p id="notice"><%= notice %></p>

<p>
  <strong>Orulo:</strong>
  <%= @fav.orulo_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fav.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fav.description %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @fav.min_price %>
</p>

<p>
  <strong>Min area:</strong>
  <%= @fav.min_area %>
</p>

<p>
  <strong>Max area:</strong>
  <%= @fav.max_area %>
</p>

<p>
  <strong>Min bedrooms:</strong>
  <%= @fav.min_bedrooms %>
</p>

<p>
  <strong>Max bedrooms:</strong>
  <%= @fav.max_bedrooms %>
</p>

<p>
  <strong>Min suites:</strong>
  <%= @fav.min_suites %>
</p>

<p>
  <strong>Max suites:</strong>
  <%= @fav.max_suites %>
</p>

<p>
  <strong>Min parking:</strong>
  <%= @fav.min_parking %>
</p>

<p>
  <strong>Max parking:</strong>
  <%= @fav.max_parking %>
</p>

<p>
  <strong>Min bathrooms:</strong>
  <%= @fav.min_bathrooms %>
</p>

<p>
  <strong>Max bathrooms:</strong>
  <%= @fav.max_bathrooms %>
</p>

<p>
  <strong>Price per private square meter:</strong>
  <%= @fav.price_per_private_square_meter %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fav.status %>
</p>

<p>
  <strong>Apts per floor:</strong>
  <%= @fav.apts_per_floor %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @fav.number_of_floors %>
</p>

<p>
  <strong>Features:</strong>
  <%= @fav.features %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @fav.stock %>
</p>

<p>
  <strong>Finality:</strong>
  <%= @fav.finality %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @fav.updated_at %>
</p>

<p>
  <strong>Orulo url:</strong>
  <%= @fav.orulo_url %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @fav.developer_id %>
</p>

<p>
  <strong>Developer name:</strong>
  <%= @fav.developer_name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @fav.publisher_id %>
</p>

<p>
  <strong>Publisher name:</strong>
  <%= @fav.publisher_name %>
</p>

<p>
  <strong>Address street type:</strong>
  <%= @fav.address_street_type %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @fav.address_street %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @fav.address_number %>
</p>

<p>
  <strong>Address are:</strong>
  <%= @fav.address_are %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @fav.address_city %>
</p>

<p>
  <strong>Address latitude:</strong>
  <%= @fav.address_latitude %>
</p>

<p>
  <strong>Address longitude:</strong>
  <%= @fav.address_longitude %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @fav.address_state %>
</p>

<p>
  <strong>Address zip code:</strong>
  <%= @fav.address_zip_code %>
</p>

<p>
  <strong>Opportunity broker:</strong>
  <%= @fav.opportunity_broker %>
</p>

<p>
  <strong>Opportunity client:</strong>
  <%= @fav.opportunity_client %>
</p>

<p>
  <strong>Opportunity exchange units:</strong>
  <%= @fav.opportunity_exchange_units %>
</p>

<p>
  <strong>Default image:</strong>
  <%= @fav.default_image_id %>
</p>

<p>
  <strong>Default image description:</strong>
  <%= @fav.default_image_description %>
</p>

<p>
  <strong>Default image 200x140:</strong>
  <%= @fav.default_image_200x140 %>
</p>

<p>
  <strong>Default image 520x280:</strong>
  <%= @fav.default_image_520x280 %>
</p>

<p>
  <strong>Fav user:</strong>
  <%= @fav.fav_user %>
</p>

<p>
  <strong>Fav update at:</strong>
  <%= @fav.fav_update_at %>
</p>

<%= link_to 'Edit', edit_fav_path(@fav) %> |
<%= link_to 'Back', favs_path %>
